.catalog {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.catalog h1 {
    font-size: 36px;
    font-weight: 800;
    color: #060606;
    margin: 40px 0;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.filters {
    margin-bottom: 20px;
}


.catalog {
    background-color: #f4f2f8; /* light gray / off-white */
    padding: 40px 20px;
}
