.qty-picker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-minus {
    margin-right: 12px; 
}

.btn-plus {
    margin-left: 12px;
}

.qty-number {
    font-weight: bold;  
    font-size: 18px;
    min-width: 20px;
    text-align: center;
}
